.h5text
{
    color: grey;
    margin-left:15px;

}

.Vtext
{
    color: black;
    font-size: 28px;
    font-weight: bold;

}
.Vtext2
{
    color: black;
    font-size: 35px;
    font-weight: bold;
    

}


.Vtext3
{
    color: black;
    font-size: 24px;
    font-weight: bold;

}