     
      <div class="row" style="padding-top:3%; padding-bottom: 3%;">
      
        <div class="col-md-6 ">
          <h2> Покажем всё! Расходы
            по дому в реальном времени
          </h2>
          <h5 class="h5text"> Жители платят управляющей компании за обслуживание жилого дома деньги и должны знать на что они
            идут.
          </h5>
          <br>
          <h2> Всё просто</h2>
          <h5 class="h5text">
            Мы считаем, что понятность этих расходов является одной из основных целей управляющей компании.
            Поэтому раскрываем всю информацию по домам на своем сайте в простом и удобном виде.
          </h5>
          <br>
          <h2>
            Всегда актуальные данные</h2>
          <h5 class="h5text">
            Мы показываем все, что происходит с домом, в реальном времени. Как будто у вашего дома есть банковская карточка.
            И вы видите все, что дом с этой карточки себе покупает.
          </h5>
      
          <br>
          <div class="row">
            <div class="col-md-3">
      
            </div>
            <div class="col-md-6 ">
              <button type="button"  class="btn btn-success btn-block"   >Информация по домам</button>
      
            </div>
            <div class="col-md-3">
      
            </div>
          </div>
      
      
        </div>
      
      </div>
      
      
      <div  class="news row" style="padding-top:2%; padding-bottom: 2%;">
        <div class="col-md-5">
          <h2>Новости ЖКХ</h2>
          <span class="badge badge-success">30.01.2019</span>

          <div class="ml-4">

          <div onClick="window.location='/newsdetails'" style="cursor: pointer">
            За отказ от счетчика газа хотят штрафовать
          </div>
          <div style="cursor: pointer"> 
            Какие законы в сфере недвижимости вступили в силу в 2019 году
          </div>
          <div style="cursor: pointer">
            Как быстро оформить документы на покупку квартиры в новостройке?
          </div>

          </div>

          <span class="badge badge-success">31.01.2019</span>

          <div class="ml-4">

            <div onClick="window.location='/newsdetails'" style="cursor: pointer">
              За отказ от счетчика газа хотят штрафовать
            </div>
            <div style="cursor: pointer"> 
              Какие законы в сфере недвижимости вступили в силу в 2019 году
            </div>
            <div style="cursor: pointer">
              Как быстро оформить документы на покупку квартиры в новостройке?
            </div>
  
            </div>

        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
          <h2>Новости УК</h2>
          <span class="badge badge-success">30.01.2019</span>

          <div class="ml-4">

          <div  onClick="window.location='/newsdetails'" style="cursor: pointer">
            За отказ от счетчика газа хотят штрафовать  
          </div>
          <div  onClick="window.location='/newsdetails'" style="cursor: pointer">
            За отказ от счетчика газа хотят штрафовать  
          </div>
          <div  onClick="window.location='/newsdetails'" style="cursor: pointer">
            За отказ от счетчика газа хотят штрафовать  
          </div>
          
          </div>

          <span class="badge badge-success">31.01.2019</span>

          <div class="ml-4">

            <div style="cursor: pointer">
              За отказ от счетчика газа хотят штрафовать  
            </div>
            <div style="cursor: pointer">
              За отказ от счетчика газа хотят штрафовать  
            </div>
            <div style="cursor: pointer">
              За отказ от счетчика газа хотят штрафовать  
            </div>
            
            </div>

        </div>
      </div>









