<div class="container" style="padding-top: 100px; padding-bottom:100px;">
  <div class="row">
    <div class="col-md-8 mx-auto ">
             
            <form >
              <h3>Вход в систему</h3>
              <p class="text-muted">Введите логин и пароль</p>

              <div class="form-group mb-3">
                <!--<div class="form-group-prepend">
                  <span class="form-group-text"><i class="fa fa-user"></i></span>
                </div>-->
                <input formControlName="fc_login" type="text" class="form-control" placeholder="Номер лицевого счета"  autocomplete="username" required />
                <!--<p *ngIf="registerForm.get('fc_login').invalid && registerForm.get('fc_login').touched || (submitted && f.fc_login.errors)">
                  <label class="text-danger" *ngIf="registerForm.get('fc_login').errors['required']">Введите логин</label> 
                </p>-->
              </div>
              <!--<div  [hidden]="fc_login.valid || fc_login.untouched" class="alert alert-danger">
                  Введите логин
              </div>-->
              <div class="form-group mb-3">
                <!-- <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>-->
                <input formControlName="fc_password"  type="password" class="form-control" placeholder="Пароль"  autocomplete="current-password" required />
                <!--<p *ngIf="registerForm.get('fc_password').invalid && registerForm.get('fc_password').touched || (submitted && f.fc_password.errors)">
                  <label class="text-danger" *ngIf="registerForm.get('fc_password').errors['required']">Введите пароль</label> 
                </p>-->
              </div>
              <!--<div [hidden]="fc_password.valid || fc_password.untouched" class="alert alert-danger">
                  Введите пароль
              </div>-->
              <div class="row">
                <div class="col-6">
                  <button type="submit" class="btn btn-success px-4">Войти</button>
                </div>
                <div class="col-6 text-right">
                   
                  </div>
              </div>
            </form>
              <!-- <button type="button" class="btn btn-primary active mt-3">Register Now!</button> -->              
    </div>
  </div>
</div>