<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">

          <li class="dropdown menu-large nav-item"> <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" style="color: gray">Навигация по сайту </a>
            <ul class="dropdown-menu w-100">
                <div class="row">
                    <li class="col-md-3">
                        <ul>
                            <li class="dropdown-header">
                                <a class="nav-link" style="cursor: pointer" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="click_main()">Главная</a>
                            </li>
                            <li>Available
                            </li>
                            <li class="disabled">How to use
                            </li>
                            <li>Examples
                            </li>
                            <li class="dropdown-header">Новости</li>
                            <li>Все новости 
                            </li>
                            <li>Новости УК
                            </li>
                            <li>Hовости МКД
                            </li>
                        </ul>
                    </li>
                    <li class="col-md-3">
                        <ul>
                            <li class="dropdown-header">Наши дома</li>
                            <li>Basic example
                            </li>
                            <li>Button toolbar
                            </li>
                            <li>Sizing
                            </li>
                            <li>Nesting
                            </li>
                            <li>Vertical variation
                            </li>
                        </ul>
                    </li>
                    <li class="col-md-3 ">
                        <ul>
                            <li class="dropdown-header">Личный кабинет</li>
                            <li>Basic example
                            </li>
                            <li>Sizing
                            </li>
                            <li>Checkboxes
                            </li>
                            <li class="dropdown-header">Законодательство</li>
                            <li>Tabs
                            </li>
                            <li>Pills
                            </li>
                            <li>Justified
                            </li>
                        </ul>
                    </li>
                    <li class="col-md-3">
                        <ul>
                            <li class="dropdown-header">Информация по дому</li>
                            <li>Default navbar
                            </li>
                            <li>Buttons
                            </li>
                            <li>Text
                            </li>
                            <li>Non-nav links
                            </li>
                            <li>Component alignment
                            </li>
                            <li>Fixed to top
                            </li>
                            <li>Fixed to bottom
                            </li>
                            <li>Static top
                            </li>
                            <li>Inverted navbar
                            </li>
                        </ul>
                    </li>
                </div>
            </ul>
        </li>


      </ul>


  </div>

  <form class="form-inline my-2 my-lg-0">
    <button  class="btn btn-outline-success my-2 my-sm-0" type="submit" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="click_LK()" style="float: right" > Личный кабинет</button>
    <!--<button  class="btn btn-outline-success my-2 my-sm-0" type="submit"  data-toggle="collapse" data-target=".navbar-collapse.show" (click)="click_Logout()"> Выход</button>   -->   

  </form>


</nav>


<router-outlet></router-outlet>
