.menu-large{
    position: static !important;
  }

  
  .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
    display:block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }
    
    .navbar .dropdown-menu {
      border: 1px solid rgba(0,0,0,.15);
      background-color: #fff;
    }
  
  li{
      font-size: large;
  }
  