
html {
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
    box-sizing: border-box;
    margin: 15px;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 200px;
    box-sizing: border-box;
    width: 100%;
}

nav{
    margin-top: 0px !important;
}

.news{
    
    background-color: #81c784;
}




